
section#show {
	@include outer-container;
	aside { @include span-columns(3); }
	article { @include span-columns(9); }
	background:red;
	@include media($cinema){
		background:black;
	}
	@include media($tablet){
		background:pink;
		aside { @include span-columns(6); }
		article { @include span-columns(6); }
	}
	@include media($mobile) {
		background:green;
		aside { @include span-columns(12); }
		article { @include span-columns(12); }
	}
}

section#elements {
	@include outer-container;
	> main {
		@include span-columns(9);
		@include pad();
	}
	> aside {
		@include span-columns(3);
		@include pad();
	}
	@include media($cinema) {
		> main {
			@include span-columns(10);
		}
		> aside {
			@include span-columns(2);
		}
	}
	@include media($tablet) {
		> main {
			@include span-columns(8);
		}
		> aside {
			@include span-columns(4);
		}
	}
	@include media($mobile) {
		> main {
			@include fill-parent;
			@include pad();
		}
		> aside {
			@include fill-parent;
			@include pad();
		}
	}
}

