$headerHeight: 120px;

%header {
	@include outer-container;
	height: $headerHeight;
	h1 {
		@include span-columns(3);
	}
	nav {
		@include span-columns(9);
		@include pad();
		ul {
			@extend %navList;
			li {
				a {
					padding: 20px;
				}
			}
		}
	}
	/**
	 * Tablet View Port
	 */
	@include tablet {
		h1 {
			@include span-columns(4);
		}
		nav {
			@include span-columns(8);
		}
	}
	/**
	 * Mobile View Port
	 */
	@include mobile {
		h1 {
			@include span-columns(12);
			text-align: center;
		}
		nav {
			@include span-columns(12);
			ul {
				@include stackedList;
			}
		}
	}
}

header[role=top], footer {
	@extend %header;
	background:$highlight;
	h1 {
		color:white;
		line-height: $headerHeight;
		margin: 0;
		padding: 0;
	}
	a {
		color:white;
	}
}

.layout {
	@include outer-container;
	> main {
		@include span-columns(9);
		@include pad();
	}
	> aside {
		@include span-columns(3);
		@include pad();
	}
	/**
	 * Tablet View Port
	 */
	@include tablet {
		> main {
			@include span-columns(8);
		}
		> aside {
			@include span-columns(4);
		}
	}
	/**
	 * Mobile View Port
	 */
	@include mobile {
		> main {
			@include fill-parent;
			@include pad();
		}
		> aside {
			@include fill-parent;
			@include pad();
		}
	}
}

