
// Frameworks
@import 'vendor/bourbon/bourbon';
@import 'vendor/neat/neat';

// Settings
@import 'vars/vars';

// 3rd-Party Libs
@import 'extras/extras';
@import 'vendor/bootstrap-3/bootstrap-3';

::selection {
    text-shadow: none;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html, body, *, input, textarea {
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Open Sans" , Arial;
}

@import 'typography';
@import 'layouts/layouts';
@import 'includes/header',
        'includes/footer',
        'includes/sidebar';


