
body {
    font-size: $fontSize;
}

a {
    text-decoration: none;
    color:$linkColor;
    &:hover {
        color: $linkHoverColor;
        text-decoration: none;
    }
}

mark {
    background:$linkColor;
    color:invert($linkColor);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans" , Arial;
    color:$headerColor;
    a {
        color:$headerLinkColor;
        &:hover {
            color:$headerLinkHoverColor;
        }
    }
}

$largestHeaderFontSize : 20px;
$ratio : 1.2;
$golden:false;

h1 {
    @if($golden) {
        font-size:  ceil( golden-ratio($largestHeaderFontSize, 0) );
    } @else {
        font-size:  ceil( modular-scale($largestHeaderFontSize, 0, $ratio) );
    }
}
h2 {
    @if($golden) {
        font-size:  ceil( golden-ratio($largestHeaderFontSize, -1) );
    } @else {
        font-size:  ceil( modular-scale($largestHeaderFontSize, -1, $ratio) );
    }
}
h3 {
    @if($golden) {
        font-size:  ceil( golden-ratio($largestHeaderFontSize, -2) );
    } @else {
        font-size:  ceil( modular-scale($largestHeaderFontSize, -2, $ratio) );
    }
}
h4 {
    @if($golden) {
        font-size:  ceil( golden-ratio($largestHeaderFontSize, -3) );
    } @else {
        font-size:  ceil( modular-scale($largestHeaderFontSize, -3, $ratio) );
    }
}
h5 {
    @if($golden) {
        font-size:  ceil( golden-ratio($largestHeaderFontSize, -4) );
    } @else {
        font-size:  ceil( modular-scale($largestHeaderFontSize, -4, $ratio) );
    }
}
h5 {
    @if($golden) {
        font-size:  ceil( golden-ratio($largestHeaderFontSize, -5) );
    } @else {
        font-size:  ceil( modular-scale($largestHeaderFontSize, -5, $ratio) );
    }
}
h6 {
    @if($golden) {
        font-size:  ceil( golden-ratio($largestHeaderFontSize, -6) );
    } @else {
        font-size:  ceil( modular-scale($largestHeaderFontSize, -6, $ratio) );
    }
}


article {
    ul {
        list-style: none;
        > li {
            position: relative;
            &:before {
                border-radius: 50%;
                content: "";
                display: inline-block;
                width: 7px;
                height: 7px;
                background:$linkColor;
                position: absolute;
                left: -18px;
                top:9px;
            }
        }
    }
}