
$highlight : #573D7D;
$highlightInvert: white;

$linkColor: $highlight;
$linkHoverColor: darken($linkColor, 20);

$headerColor: $linkColor;
$headerLinkColor: $headerColor;
$headerLinkHoverColor: darken($headerLinkColor, 20);
